08-31 18:42:00.250: E/eglCodecCommon(1802): writeFully: failed: Broken pipe
08-31 18:42:00.250: E/eglCodecCommon(1802): writeFully: failed: Broken pipe
08-31 18:42:00.250: W/libEGL(1802): eglInitialize(0x99066180) failed (EGL_SUCCESS)
08-31 18:42:00.250: E/EGL_emulation(1802): tid 1802: eglChooseConfig(544): error 0x3001 (EGL_NOT_INITIALIZED)
08-31 18:42:00.250: D/AndroidRuntime(1802): Shutting down VM
08-31 18:42:00.250: W/dalvikvm(1802): threadid=1: thread exiting with uncaught exception (group=0xa617b908)
08-31 18:42:00.254: E/AndroidRuntime(1802): FATAL EXCEPTION: main
08-31 18:42:00.254: E/AndroidRuntime(1802): java.lang.IllegalArgumentException: eglChooseConfig failed EGL_NOT_INITIALIZED
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at android.view.HardwareRenderer$GlRenderer.chooseEglConfig(HardwareRenderer.java:893)
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at android.view.HardwareRenderer$GlRenderer.initializeEgl(HardwareRenderer.java:845)
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at android.view.HardwareRenderer$GlRenderer.initialize(HardwareRenderer.java:786)
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at android.view.ViewRootImpl.performTraversals(ViewRootImpl.java:1502)
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at android.view.ViewRootImpl.doTraversal(ViewRootImpl.java:989)
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at android.view.ViewRootImpl$TraversalRunnable.run(ViewRootImpl.java:4351)
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at android.view.Choreographer$CallbackRecord.run(Choreographer.java:749)
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at android.view.Choreographer.doCallbacks(Choreographer.java:562)
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at android.view.Choreographer.doFrame(Choreographer.java:532)
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at android.view.Choreographer$FrameDisplayEventReceiver.run(Choreographer.java:735)
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at android.os.Handler.handleCallback(Handler.java:725)
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at android.os.Handler.dispatchMessage(Handler.java:92)
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at android.os.Looper.loop(Looper.java:137)
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at android.app.ActivityThread.main(ActivityThread.java:5041)
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at java.lang.reflect.Method.invokeNative(Native Method)
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at java.lang.reflect.Method.invoke(Method.java:511)
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at com.android.internal.os.ZygoteInit$MethodAndArgsCaller.run(ZygoteInit.java:793)
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at com.android.internal.os.ZygoteInit.main(ZygoteInit.java:560)
08-31 18:42:00.254: E/AndroidRuntime(1802): 	at dalvik.system.NativeStart.main(Native Method)
